[Unit]
Description=Vacation Planner WSGI
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=ioannisb
Group=ioannisb
WorkingDirectory=/opt/vacation-planner
EnvironmentFile=/opt/vacation-planner/.env
ExecStart=/opt/vacation-planner/.venv/bin/gunicorn \
    --workers 4 \
    --bind unix:/run/vacation-planner/vacation-planner.sock \
    --umask 007 \
    --log-file /opt/vacation-planner/logs/gunicorn.log \
    --access-logfile /opt/vacation-planner/logs/gunicorn-access.log \
    --error-logfile /opt/vacation-planner/logs/gunicorn-error.log \
    --capture-output \
    --forwarded-allow-ips="*" \
    wsgi:app

RuntimeDirectory=vacation-planner
RuntimeDirectoryMode=0755

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
